
.form-container{
    display: flex;
    justify-content: center;
  }
  
  .form-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:40px 20px;
    background-color:#fff; 
    width: 500px;
    margin-top: 20px;
    border: 1.5px solid #cdd1de;
    box-shadow: 0 0 10px #48494d87;
  
  }
  .to-input{
    width: 80%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #cdd1de;
  }
  .add-item{
  margin-top: 10px;
  background-color:rgb(7, 107, 138);
  padding: 6px 10px;
  border-radius: 3px;
  color: #fff;
  border: none;
  text-transform: uppercase;
  font-weight: bold;
  }
  
  /* list item */
  
  /* .list-wrapper{
    display: flex;
    justify-content: center;
    margin-top: 10px;
  } 
  
  .list-single-item{
    display: flex;
    column-gap: 120px;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
  
  }
  .action-btn{
    margin-left: 80px;
  /* } */
  i{
    /* color:rgb(74, 7, 138); */
  }
  .check-cirle{
    background-color: rgb(74, 7, 138);
    color: #fff;
    border-radius: 50%;
    padding: 4px;
    font-size: 10px;
    font-weight: normal;
  }
  .action-btn button{
  background: none;
  border: none;
  
  }
  .action-btn button i{
    color: rgb(74, 7, 138);
    font-size: 15px;
  }
  .mt{
    margin-top: 10px;
  }
  
  .cancel-item{
    margin-top: 10px;
    background-color:rgb(81, 156, 179);
    padding: 6px 10px;
    border-radius: 3px;
    color: #fff;
    border: none;
    text-transform: uppercase;
    font-weight: bold;
    
  }

  /*for only update form  */
  .update-action-btn{
    display: flex;
    justify-content: space-between;
    column-gap: 60px;
    margin-top: 20px;
  }
  .edit-form
  {
    position: fixed;
    top:10px;
    left:0;
    width: 100%;
    z-index: 9999;
    background-color: rgba(0, 0, 0, 0.164);
    padding: 80px;
  }
  .input-field
  {
    display: flex;
    width:100%;
    align-items: center;
    column-gap: 10px;
  }
.input-field label{
  width: 20%;
}
.edit-form button:hover{
  background-color:rgb(13, 128, 163);


}

.uploaded-img img{
  width: 40px;
  height: 40px;
  margin-top: 20px;
}

.view-emp
{
  color: rgb(19, 101, 207);
  z-index: 999;
  margin-bottom: 20px;
  text-align: center;
  font-size: 20px;
  
}